spring:
  application:
    name: order-api

  jpa:
    hibernate:
    ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  datasource:
    url: jdbc:postgresql://localhost:5432/orderdb
    username: postgres
    password: postgres

logging:
  level:
    com:
      example:
        myapp:
          service: TRACE